iframe
  border-radius: 10px

.tarjeta
  .color-primario
    background-color: #D0F1EA !important

.tarjeta
  .color-secundario
    background-color: #ADE5FF !important

.tarjeta
  .color-acento-botones
    background-color: #F6E593 !important

.tarjeta
  .color-acento-contenido
    background-color: #EEA1A2 !important

.color-secundario
    background-color: #ADE5FF !important

.borde1
  border-bottom: thick solid  $color-primario

.milink  
  background-color: transparent    
  position: relative  
  margin-top: -60px

  

  